/**
 * Customization of the twitter bootstrap look and feel
 *
 * @author Franck Chauvel - SINTEF ICT
 */

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.modal {
    width: 780px;
    margin-left: -390px 0 0 -390
}

.modal-body {
    width: 750px;
}

#chart-container {
    width: 750px;
}  

.alignRight { 
    text-align: right; 
}
 